
/* .slides .slick-prev:before,
.slides .slick-next:before {
  color: #2A2A2A;
  width: 100px;
  height: 100px;
} */

::-webkit-scrollbar{
  position: absolute;
  background-color: grey;
  width: 7px;
}
::-webkit-scrollbar-thumb{
  background-color: #2296CB;
  border-radius: 8px;
}